<header class="site-header">
  <nav class="sidebar-nav">
    <div class="logo">
      <img src="/assets/img/profile.png" alt="Profile picture" class="profile-pic">
      <a href="{{ '/' | relative_url }}">{{ site.author.name }}</a>
    </div>
    <ul>
      {% for item in site.data.navigation %}
        <li><a href="{{ item.url | relative_url }}" class="{% if page.url == item.url %}active{% endif %}"><i class="{{ item.icon }}"></i>{{ item.title }}</a></li>
      {% endfor %}
    </ul>
    <div class="sidebar-social">
      <a href="https://github.com/EchoN3st" target="_blank" aria-label="GitHub"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/0xEch0_N3st" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
      <a href="mailto:echonest@veilon.org" aria-label="Email"><i class="fas fa-envelope"></i></a>
    </div>
  </nav>
</header>
