
$page-max-width: 1000px;
html {
  font-size: 24px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 0.8rem;
}
  
.page-wrapper {
  display: flex;
}

.sidebar-wrapper {
  width: $sidebar-width;
  min-width: $sidebar-width;
  background-color: $background-color;
  flex-shrink: 0;
}

.site-header {
  padding: 1rem;
}


.content-wrapper {
  display: flex;
  flex: 1;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
}

.main-content {
  flex: 3;
  display: flex;
  justify-content: center;

  > * {
    width: 100%;
    max-width: $page-max-width;
  }
}

.content-left {
  flex: 3;
  max-width: 700px;
}

.recent-tags {
  flex: 1;
  max-width: 350px;
  background-color: transparent;
  padding: 1rem;
  border-radius: 8px;

  .widget h3 {
    font-size: 0.85rem;
    color: $text-color;
    margin-bottom: 0.5rem;
    margin-top: 0%;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

@media (max-width: 768px) {
  .main-content {
    padding: 0 1rem;

    > * {
      max-width: 100%;
    }
  }
  
  .mobile-header {
    display: flex;
  }

  .sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 100%;
    background-color: $background-color;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar-wrapper.open {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .content-wrapper {
    flex-direction: column;
    padding: 1rem;
  }

  .recent-tags {
    margin-top: 2rem;
    max-width: 100%;
  }
}


.mobile-header {
  display: none;
  background-color: $background-color;
  padding: 1rem;
  border-bottom: 1px solid #333;
  align-items: center;
  justify-content: space-between;

  .burger {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: $text-color;
    cursor: pointer;
  }

  .site-title {
    font-size: 1rem;
    font-weight: bold;
    color: $text-color;
  }
}