.site-footer {
    width: 50%;
    text-align: center;
    color: $text-color;
    font-size: 14px;
    margin-top: auto;
    bottom: 0;
    margin-left: calc($sidebar-width + 20%);
    background-color: transparent;
    max-width: calc(100% - 240px);
    justify-content: center;
  }
  
.site-footer p {
  margin-bottom:0.2rem;
  }