.site-footer {
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  text-align: center;
  color: $text-color;
  font-size: 14px;
  margin-top: auto;
  background-color: transparent;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .site-footer {
    margin-left: calc($sidebar-width);
    width: calc(100% - $sidebar-width);
  }
}