$sidebar-width: 240px;
$accent-color:        #00e0be;
$accent-defused-color:#00e0be63;  
$background-color:    #0f1113; 
$foreground-color:    #1a1d20; 
$foreground-hover-color: #2c2f33; 
$text-color:          #d0d0d0;

