$sidebar-width: 240px;
//$accent-color: #00ffd0;
//$background-color: #121416;
//$foreground-color: #1b1d1e;
//$foreground-hover-color: #2a2a2a;
//$text-color: #e0e0e0;


$accent-color:        #00e0be;
$accent-defused-color:#00e0be63;  
$background-color:    #0f1113; 
$foreground-color:    #1a1d20; 
$foreground-hover-color: #2c2f33; 
$text-color:          #d0d0d0;

